* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(80, 80, 75);

    width: 300px;
    border-radius: 25px;
}

.image {
    width: 300px;
    height: 200px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 16px;
}

.text {
    text-align: center;
    color: white;
}

.divider {
    width: 80%;
    border: 1px solid white;

}

.show-more {
    color: white;
    align-self: flex-end;
    background-color: rgb(0, 0, 0);
    width: 100px;
    padding: 6px 0px;
    border: none;
    border-radius: 8px;
    margin-bottom: 16px;
}